.post-container {
  border-radius: 1rem !important;
}

.post-container h5 {
  padding: 0.5rem 1rem;
}

.post-comment-form {
  display: flex;
  align-items: center;
}

button {
  background: none;
  border: none;
}

button:hover,
button:focus,
button:active {
  background: none;
  border: none;
}

.img-container {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.img-content {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.dropdown1,
.dropdown2 {
  background: white !important;
  border-radius: 1rem;
  width: 10rem !important;
  transform: translateY(-2rem);
}

.dropdown-content #delete {
  display: flex;
  color: red !important;
}

.dropdown-content div {
  padding: 1rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  background: #fff;
}

.dropdown-content #delete:hover {
  color: red;
  background: #eee;
}

.dropdown-content #follow:hover {
  background: #eee;
}