.post-container h5 {
  padding: 0.5rem 1rem;
}

.post-comment-form {
  display: flex;
  align-items: center;
}

button {
  background: none;
  border: none;
}

button:hover,
button:focus,
button:active {
  background: none;
  border: none;
}