.card {
  border-radius: 1rem;
}

.input-field {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.file-btn-container {
  display: flex;
  justify-content: center;
}

.img-preview-container {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 1rem;
}

.img-preview {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.create-post-btn,
.create-post-btn:active,
.create-post-btn:focus {
  background-color: white !important;
  color: #42a5f5 !important;
  box-shadow: none;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

.create-post-btn:hover {
  box-shadow: none;
  background-color: #42a5f5 !important;
  color: white !important;
}

.create-post-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input.create-post-caption {
  width: 92% !important;
  margin: 1rem 1% !important;
  padding: 0 3% !important;
}