.post-container h5 {
  padding: 0.5rem 0.5rem;
}

.input-field {
  display: flex;
  align-items: center;
}

button {
  background: none;
  border: none;
}

button:hover,
button:focus,
button:active {
  background: none;
  border: none;
}