.gallery {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-bottom: 100px;
}

.gallery-item-container {
  cursor: pointer;
  border-radius: 1rem;
  overflow: hidden;
  margin: calc(10%/6);
  height: 0px;
  width: 30%;
  padding-bottom: 30%;
  position: relative;
}

.gallery-item {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.view-post-overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #0007;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-post {
  position: absolute;
  width: 90%;
  z-index: 2;
  margin-bottom: 2rem;
}

.view-post>div {
  width: auto;
  height: 100%;
  margin: auto;
}

.view-post .btn-close-container {
  cursor: pointer;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 4rem;
  background: #f33;
  z-index: 3;
  width: 4rem;
  height: 4rem;
  display: flex;
}

.view-post i {
  color: white;
  margin: auto;
}